<hr>
<p><strong><%= t('.deployer_settings') %></strong></p>

<p><%= form.text_area(:customers_deploys_notifications_emails, :rows => 4, :required => false) %></p>
<p><%= form.text_area(:deploys_notifications_emails, :rows => 4, :required => false) %></p>

<p><%= form.text_field(:abbreviation, :size => 30, :required => false) %></p>